.container-fluid {
    background-color: #E5B34D;
}

#types_wrapper {
    width: auto;
    height: auto;
    overflow: hidden;
    /* Next_btn is relative to #types wrapper*/
    position: relative;
}

#mobile_types_list {
    width: 160px;
    float: left;
}

#types_display {
    overflow: hidden;
}

#mobile_types_list ul {
    padding: 0;
}
#mobile_types_list ul li {
    margin-left: -20px;
    list-style: none;
    line-height: 1.2;
    text-align: left;
    font-size: 28px;
    font-family: "Bariol";
    color: rgb(255, 255, 255);
    font-weight: bold;
    -moz-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    -ms-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    cursor: pointer;
}

.type_button {
    border-radius: 50%;
    width: 185px;
    height: 185px;
    background-color: white;
    color: rgb(249, 163, 51);
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    font-size: 33px;
    font-family: "Bariol";
    font-weight: bold;
    line-height: 1.2;
    -moz-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    -webkit-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    -ms-transform: matrix(0.75, 0, 0, 0.75, 0, 0);
}

#checkbox_text {
    font-size: 17px;
    font-family: "Bariol";
    color: rgb(230, 89, 42);
    line-height: 1.059;
}

/* to hide the checkbox itself */
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

/* unchecked icon */
input[type=checkbox] + label:before {
    content: "\f096";
}

/* space between checkbox and label */
input[type=checkbox] + label:before {
    letter-spacing: 10px;
}

/* checked icon */
input[type=checkbox]:checked + label:before {
    content: "\f046";
}

/* allow space for check mark */
input[type=checkbox]:checked + label:before {
    letter-spacing: 8px;
}

#next_page {
    background: url("../img/consult_general/Next_btn.png") no-repeat transparent;
    width: 37px;
    height: 37px;
    border: none;
    /*float: right;*/
    position: absolute;
    right: 0;
    bottom: 15px;
}