#process-header-wrapper{
    background-color: white;
}
/* Header - Left Side */
/* Logo */
.process-header-logo{
    width: 105px;
    height: 39px;
    background: url("../img/logo/Logo.svg") no-repeat;
}
/* Title */
.process-header-title{

}
.page-header{
    font-size: 20px;
    font-family: "Bariol";
    color: rgb(230, 89, 42);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    border-bottom: none;
}
#page-desc{
    font-size: 15px;
    font-family: "Bariol";
    /*color: rgba(38, 51, 46, 0.8);*/
    line-height: 1.2;
}
/* Header - Right Side */
/* Information Elements */
#info-elements{

}
#info-elements button{
    float: right;
    display: inline-block;
    width: 32px;
    height: 50px;
    padding: 0px;
    position: relative;
    top: 25px;
    background-color: transparent;
    border: none;
}
#info-elements svg{
    width: 28px;
    height: 28px;
}
#info-statistic svg{
    position: relative;
    left: -1px;
}
.info-notification{
    position: relative;
    left: 5px;
    top: 1.5px;
    z-index: 10;
    border-radius: 5px;
    background-color: #e6592a;
}
.info-notification:empty {
    display: inline-block;
    visibility: hidden;
}

/* Results Feature - Responsive */

/* Extra small devices - 320px Design (phones, less than 480px) */
@media (max-width: 767px) {
    .process-header-logo{
        display: block;
    }
    .process-header-title{
        text-align: left;
        margin-bottom: 12px;
    }
}
/* Extra small devices - 480px Design (phones, less than 768 and greater than 480) */
@media (min-width: 480px) and (max-width: 767px) {

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .process-header-logo{
        display: inline-block;
        width: 181px;
        height: 67px;
        position: relative;
        top: 26.5px;
        float: left;
    }
    .process-header-title{
        display: inline-block;
        margin-bottom: 2px;
        text-align: center;
    }
    .page-header{
        display: block;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }
    #page-desc{
        display: block;
        width: 220px;
        height: 72px;
    }
    #info-elements button{
        width: 42px;
        height: 60px;
        position: relative;
        top: 48px;
        /*border: solid 1px;*/
        border: none;
    }
    #info-elements svg{
        width: 38px;
        height: 38px;
    }
    .info-notification{
        left: 9px;
        top: 3px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .process-header-logo{
        display: inline-block;
        width: 198px;
        height: 74px;
        position: relative;
        top: 23px;
    }
    .page-header{
        font-size: 45px;
    }
    #page-desc{
        width: 320px;
        height: 54px;
        font-size: 15px;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}