#filters-btn{
    position: fixed;
    top: 39.5%;
    left: 94%;
    z-index: 501;
    width: 31px;
    height: 28px;
    background-color: rgba(152, 147, 136, 0.95);
    border-radius: 4px;
    padding: 0px;
    border: none;
}
#filters-btn i{
    position: relative;
    top: -1px;
    left: -0.52px;
    font-size: 28px;
    color: rgb(229, 179, 77);
}
#filters-menu{
    position: fixed;
    left: -100%;
    top: 39.5%;
    height: 60.5%;
    z-index: 500;
    font-family: "Bariol";
    font-style: normal;
    text-align: left;
    padding: 30px 0px 15px 0px;
    margin-bottom: 0px;
}
#filters-menu fieldset{
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 5px 0px 2px 0px;
    border-top: 1px solid rgb(255, 255, 255);
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
.feature-btn{
    float: left;
    background-color: transparent;
    padding: 0px;
    border: none;
    margin-right: 5px;
}
.feature-btn i{
    font-size: 12px;
}
#filters-menu legend{
    float: left;
    position: relative;
    width: 87%;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: none;
}
.checkbox{
    margin-bottom: 5px;
    margin-top: 5px;
    width: auto;
    text-align: left;
}
/* Menu Type */
#menu-type-field{
    margin-left: 5px;
}
#menu-type-field .btn-default{
    border-color: #bfbdad;
    color: #202b4e;
}
#filters-menu fieldset:nth-child(1){
    margin-bottom: 10px;
}
#filters-menu fieldset:nth-child(1) legend{
    display: block;
    width: 100%;
    margin-bottom: 4px;
    margin-left: 5px;
    color: #232323;
    font-size: 15px;
    font-weight: bold;
}
/* Advisors */
#filters-menu fieldset:nth-child(2){
    margin-bottom: 0px;
}
#filters-menu fieldset:nth-child(2) legend{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    margin-left: 5px;
    color: #232323;
    font-size: 15px;
    font-weight: bold;
}
/* Slider */
#filters-menu fieldset:nth-child(3){
    border: none;
    margin-bottom: 10px;
}
#filters-menu fieldset:nth-child(3) legend{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(50,57,78);
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.3;
}
#slider-range{
    display: inline-block;
    position: relative;
    top: -3px;
    width: 40%;
    height: 4px;
    background: #e6592a;
    border: none;
}
/* Slider Controls */
#slider-range span {
    border-radius: 50%;
    border-color: rgb(229, 179, 77);
    background: rgb(229, 179, 77);
    width: 16px;
    height: 16px;
    /*z-index: 10;*/
}
#slider-range span:hover{
    cursor: pointer;
}
#slider-range span:active, span:focus{
    outline: none;
}
/* Slider - Selected Range */
#slider-range div{
    background: #e6592a;
    border: none;
    /*height: 4px;*/
}
/* Slider - Price Inputs */
.price-tag{
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    width: 60px;
    border: none;
    background-color: transparent;
}
/* Mobile Submit Button */
#submit-btn{
    display: block;
    margin-top: 15px;
    position: relative;
    left: -1%;
}

/* Results Feature - Responsive */

/* Extra small devices - 320px Design (phones, less than 480px) */
@media (max-width: 767px) {
    #filters-menu{
        overflow-y: scroll;
    }
}
/* Medium devices (480px and up) */
@media (min-width: 479px) {
    #filters-btn{
        left: 96%;
    }
    #slider-range{
        width: 60%;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #filters-btn{
        display: none!important;
    }
    #submit-btn{
        display: none;
    }
    #filters-menu{
        display: block;
        position: relative;
        left: 0%;
        top: 0%;
        z-index: 0;
        padding: 0px;
    }
    #filters-menu legend{
        margin-bottom: 4px;
    }
    #slider-range{
        width: 35%;
    }
    .price-tag{
        width: 50px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #filters-btn{
        left: 97%;
    }
    #slider-range{
        width: 48%;
    }
    .price-tag{
        width: 55px;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #slider-range{
        width: 50%;
    }
    .price-tag{
        width: 60px;
    }
}