#headers-wrapper{
    background-color: #e5b34d;
    font-size: 18px;
    font-family: "Bariol";
    color: rgb(60, 65, 68);
    font-style: italic;
    text-align: center;
}
#headers-wrapper .row{
    padding: 0px 15px 5px 15px;
    height: 85px;
}
#results-headers{
    padding: 0px;
}

/* Results headers */
#results-headers button{
    border: none;
    background-color: inherit;
    line-height: 1.2;
    width: 80px;
    height: 85px;
    padding: 0px;
    margin: 0% 1% 0% 1%;
}
#results-headers button span{
    display: block;
    margin-bottom: 5px;
}
#results-headers button i{
    font-size: 26px;
}
/* My Specs headers */
#my-specs-btn{
    position: relative;
    top: 55px;
    background-color: #3c4144;
    width: 100%;
    height: 40px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-family: "Bariol";
    color: rgb(255, 255, 255);
    font-style: italic;
}
#my-specs-btn:hover{
    color: rgb(235, 233, 233);
}
#my-specs-btn span{
    position: relative;
    top: -3px;
    margin-right: 10px;
}
#my-specs-btn i{
    position: relative;
    top: 1px;
    font-size: 26px;
}
/* My specs window */
#my-specs-window{
    display: none;
    position: absolute;
    top: 54px;
    left: 110%;
    z-index: 300;
    width: 258px;
    background-color: #e5ddcc;
    border-radius: 10px;
    padding: 5px;
    font-family: "Bariol";
    font-style: normal;
    text-align: center;
    border-color: rgba(154, 153, 145, 0.9);
}
#specs-close{
    float: right;
    display: inline-block;
    position: relative;
    top: -8px;
    right: 8px;
    height: 10px;
    font-size: 135%;
    width: 10px;
    margin-left: 5px;
    z-index: 310;
}
#my-specs-header{
    font-size: 18px;
    font-family: "Bariol";
    color: rgb(229, 179, 77);
    font-weight: bold;
    line-height: 2.25;
}
#share-icons-container{

}
#share-icons-container button{
    display: inline-block;
    background-color: transparent;
    border: none;
}
#share-icons-container button i{
    font-size: 18px;
    color: #3c4144;
}
#recommended-spec{
    font-size: 14px;
    margin: 5px 0px 10px 0px;
    /*background-color: white;*/
}
#recommended-spec td{
    border-color: white;
}
/* Results Deals */
#results-wrapper .row{
    padding: 15px 15px 0px 0px;
}
#results-section .results-deal{
    display: none;
}
/* Deal Header */
.results-deal .deal-link span{
    font-size: 18px;
    display: block;
}
.results-deal .deal-link img{
    width: 160px;
}
/* Deal Specification */
.results-deal table{
    font-size: 16px;
    font-family: "Bariol";
    font-style: normal;
    /*color: rgb(60, 65, 68);*/
}
.results-deal table td:nth-child(1){
    padding: 20px 0px 20px 0px;
}
.results-deal table td:nth-child(2){
    padding: 20px 0px 20px 0px;
}



/* Results Feature - Responsive */

/* Extra small devices - 320px Design (phones, less than 480px) */
@media (max-width: 767px) {
    #results-headers button:focus{
        color: white;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #headers-wrapper .row{
        padding: 5px 15px 5px 0px;
        height: 100px;
    }
    /* My specs header */
    #my-specs{
        padding-left: 0px;
        padding-right: 0px;
    }
    #results-headers button{
        width: 130px;
        margin-right: 3%;
    }
    #results-headers button:hover{
        cursor: default;
    }
    #results-headers button span{
        width: 80px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    /* Results Deals */
    #results-section .results-deal{
        display: inline-block;
    }
    .results-deal{
        margin-right: 3%;
    }
    /* Deal Header */
    .results-deal .deal-link span{
        font-size: 14px;
        width: 130px;
        height: 50px;
    }
    .results-deal .deal-link img{
        width: 130px;
        height: 130px;
    }
    /* Deal Specification */
    .results-deal table{
        font-size: 12px;
        width: 130px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}