{% load staticfiles %}

<head>
    <link href="{% static 'css/affiliation_types.css' %}" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div id="types_wrapper">
        <form action="{% url 'application' product %}" method="POST">{% csrf_token %}
            <div id="mobile_types_list">
                <ul>
                    {% for affiliation in affiliations %}
                        <li>
                            <i class="fa fa-check fa-lg" aria-hidden="true" style="display: none;"></i> {{ affiliation.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="types_display">
                {% for affiliation in affiliations %}
                    <div id="{{ affiliation.name }}" style="display: none;">
                        <br>
                        <button type="button" class="type_button">
                            {{ affiliation.name }}
                        </button>
                        <br>
                        <br>
                        <span>
                            {{ affiliation.description }}
                        </span>
                        <br>
                        <br>
                        <span id="checkbox_text">choose {{ affiliation.name }}</span>
                        {{ form }}
                        {#                        <input id="{{ affiliation.name }}_box" type="checkbox" name="{{ affiliation.name }}"/>#}
                        <label for="{{ affiliation.name }}_box"></label>
                    </div>
                {% endfor %}
                {#            {{ form }}#}
            </div>
            <br>
            <br>
            <br>
            <button type="submit" id="next_page"></button>
        </form>
    </div>
</div>
</body>