{% load staticfiles %}

<head>

</head>

<body>
{% for use in uses %}
    <p>{{ use.Uses_id }}</p>
    <p>{{ use.value }}</p>
    <p>{{ use.Uses_name }}</p>
    <p>{{ use.description }}</p>
    <p>{{ use.form_input }}</p>
{% endfor %}

{#

{% for use in uses %}
    <ul>{{ use.Uses_name }},{{ use.Uses_id }}
        {% for level in use %}
            <li>{{ level.value }}</li>
            <li>{{ level.description }}</li>
            <li>{{ level.form_input }}</li>
        {% endfor %}
    </ul>
{% endfor %}

#}
</body>