{% load staticfiles %}

<head>
    <!-- Header - Logo and Sentence Style -->
    <link href="{% static 'css/index_slogan.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Container: Header Section -->
    <div class="container-fluid">
        <!-- Raw: Home Header -->
        <div id="header-wrapper" class="row  text-center">
            <!-- Column: Logo & Sentence -->
            <div class="col-xs-12">
                <img id="logo" class="" src="{% static 'img/logo/Logo.svg' %}">
                <span class="sentence"></span>
            </div>
        </div>
    </div>
</body>