{% load staticfiles %}

<head>
    <!-- Products Container Style -->
    <link href="{% static 'css/index_products.css' %}" rel="stylesheet">
</head>

<body>
<!-- Container: Products Section -->
<div class="container-fluid">
    <!-- Raw: Djaroo Products Form -->
    <div id="products-wrapper" class="row text-center">
        <!-- Column: Left Control -->
        <div class="col-sm-1 hidden-xs left-control">
            <button id="left-control-btn" class="arrow-btn" type="button">
                <i id="arrow-icon" class="fa fa-play-circle fa-flip-horizontal"></i>
            </button>
        </div>
        <!-- Column: Products Slide -->
        <div id="product-list" class="col-xs-12 col-sm-10">
            <div id="product1" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Printer</label>
            </div>
            <div id="product2" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Tablet</label>
            </div>
            <div id="product3" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Speakers</label>
            </div>
            <div id="product4" class="product-frame">
                <a class="fa-stack" href="{% url 'results' 'Laptop' %}">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Laptop</label>
            </div>
            <div id="product5" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Watch</label>
            </div>
            <div id="product6" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Cell Phone</label>
            </div>
            <div id="product7" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Camera</label>
            </div>
            <div id="product8" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Hard Drive</label>
            </div>
            <div id="product9" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Headphones</label>
            </div>
            <div id="product10" class="product-frame product-off">
                <a class="fa-stack" href="#">
                    <i id="next-icon" class="fa fa-play-circle"></i>
                    <i id="next-layer1" class="fa fa-play" style=""></i>
                    <i id="next-layer2" class="fa fa-play" style=""></i>
                </a>
                <label class="product-label">Screen</label>
            </div>
        </div>
        <!-- Column: Right Control -->
        <div class="col-sm-1 hidden-xs vertical-center right-control">
            <button id="right-control-btn" class="arrow-btn" type="button">
                <i id="arrow-icon" class="fa fa-play-circle"></i>
            </button>
        </div>
    </div>
</div>
</body>