{% load staticfiles %}

<head>
    <link href="{% static 'css/info_elements.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Container: Process Header Section -->
    <div class="container-fluid">
        <!-- Raw:  -->
        <div class="row text-center">
            <!-- Column: Logo and Page Title -->
            <div class="col-xs-8">
                <div id="header-logo">

                </div>
                <div id="header-title">

                </div>
            </div>
            <!-- Column: Information Elements -->
            <div class="col-xs-4">

            </div>
        </div>
    </div>
</body>
